@import 'vendors/ui-select';

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* .v-select .dropdown-toggle {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px #00000012;
  color: #32373c;
  border-radius: 0;
  padding-top: 3px;
  padding-bottom: 3px;
} */

.col-9 {
  float: left;
  width: 75%;
}

.col-3 {
  float: left;
  margin-left: 1.5%;
  width: 23.5%;
}

.page-title {
  margin-bottom: 15px;
}

.panel {
  border: 1px solid #eee;
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.panel-body-row {
  padding: 6px 10px 8px;
}

.panel-footer {
  padding: 10px;
  clear: both;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
}

.form-field,
.checkbox {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100% !important;
}